header{
    color: #2378ff;
    text-align:center;
    background-color: #222222;
}

header .title {
    max-width: 100%;
    width: auto;
    font-size: 32px;
    margin: 0px;
}

footer p {
    font-size:14px;
    color:#4d711a;
    margin-top:25px;
}

.space {
    margin-top: 20px;
    margin-bottom: 20px;
}

.right-margin {
    margin-right: 20px;
}
